<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
      version="3.1">

<servlet>
	<servlet-name>Enquiry</servlet-name>
    <servlet-class>Enquiry</servlet-class>
</servlet>
  
<servlet-mapping>
    <servlet-name>Enquiry</servlet-name>
    <url-pattern>/Enquiry</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ListBooked</servlet-name>
    <servlet-class>ListBooked</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ListBooked</servlet-name>
    <url-pattern>/ListBooked</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ShowBooked</servlet-name>
    <servlet-class>ShowBooked</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ShowBooked</servlet-name>
    <url-pattern>/ShowBooked</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ListAll</servlet-name>
    <servlet-class>ListAll</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ListAll</servlet-name>
    <url-pattern>/ListAll</url-pattern>
</servlet-mapping>




</web-app>